<nav id="nav">
    <ul class="text-center">
        <li>
            <a href="#home">Home</a>
        </li>
        <li>
            <a href="#portfolio">Works</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
    </ul>
</nav>